<!DOCTYPE html>
<html>
<head>
    <title>Doctor Appointment System</title>
</head>
<body>
    <h1>Book Appointment</h1>

    <form>
        <label>Patient Name:</label><br>
        <input type="text"><br><br>

        <label>Select Doctor:</label><br>
        <select>
            <option>Dr. Ahmed</option>
            <option>Dr. Sara</option>
        </select><br><br>

        <label>Date:</label><br>
        <input type="date"><br><br>

        <button type="submit">Book</button>
    </form>
</body>
</html>